@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.home {
  background: url(../../Illustrations/IllustrationGame/Batgame_1.png) no-repeat top center/cover;
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*les couleurs*/
/*bordure de la ligne*/
/*bordure en haut*/
/*bordure largeur*/
/* largeur du hero class */
/*Les font*/
.home .menu {
  width: 86%;
  border-style: solid;
  border-bottom-width: 0.1rem;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  height: 132px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-content: center;
}

.home .menu .one {
  padding-left: 4rem;
}

.home .menu .one img:hover {
  cursor: pointer;
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

.home .menu .two ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home .menu .two ul li {
  list-style: none;
  padding: 0 2em;
}

.home .menu .two ul li:nth-child(2) a {
  text-decoration: underline;
}

.home .menu .two ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 22px;
}

.home .menu div h1 {
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
}

.home .hero {
  width: 86%;
  height: 110vh;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top-width: 0.1rem;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home .hero article {
  display: block;
  margin-right: auto;
  padding: 4em;
}

.home .hero article h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 36px;
}

.home .hero aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 300px;
  position: fixed;
  right: 3.2%;
  top: 32%;
  z-index: 1;
}

.home .hero aside div img:hover {
  cursor: pointer;
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

.home .hero aside .flèche-bat a img:hover {
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

.start-game {
  width: 100%;
  height: 150vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game .first-show {
  width: 86%;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
}

.start-game .first-show h2 {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.start-game .first-show .contentPic {
  width: 70%;
  height: 70vh;
  background: url(../../Illustrations/IllustrationGame/Batgame_2.png) no-repeat center center/cover;
}

@media screen and (max-width: 768px) {
  .home {
    background: url(../../Illustrations/IllustrationGame/Batgame_1.png) no-repeat center center/contain;
  }
  .home .menu {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }
  .home .menu .two ul {
    display: flex;
    flex-direction: column;
  }
  .home .menu .two ul li {
    margin: 1em 0;
  }
  .home .menu .one img {
    width: 80px;
    height: 56px;
  }
  .home .hero article h1 {
    font-size: 34px;
  }
  .home .hero aside {
    right: -4.3%;
  }
  .home .hero aside div.flèche-bat img {
    width: 2em;
    height: 2em;
  }
  .home .menu div h1 {
    font-size: 34px;
  }
}

/*# sourceMappingURL=game.css.map */
